<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="hypodermic_vc120" target="hypodermic" version = "0.1.5.2" pathversion="0_1_5_2" platformtoolset="v120" platform="vc120">
  <dependency id="boost" version="1.55.0.16" />
  <dependency id="boost_system-vc120" version="1.55.0.16" />
</package>